

<head>
    
    <title>GHM Consulting</title>
 
</head>

<body>
    <div class="homepage">
        <header class="header">
            <h1>GHM Consulting</h1>
            <h2>Designing Innovative Web Apps</h2>
            <p>At GHM Consulting, we specialize in designing cutting-edge web applications using various technologies such as Angular, React, and Spring Boot etc. Our solutions are crafted with efficiency and reliability to meet your business needs.</p>
        </header>

        <div class="cards-container">
            <div class="card card-expertise">
                <div class="card-content">
                    <h3>Our Expertise</h3>
                    <p>We excel in building web applications with a range of modern technologies:</p>
                    <ul>
                        <li>Angular</li>
                        <li>React</li>
                        <li>Spring Boot</li>
                    </ul>
                </div>
            </div>
            <div class="card card-efficiency">
                <div class="card-content">
                    <h3>Efficiency & Reliability</h3>
                    <p>Our team is dedicated to delivering efficient and reliable web solutions tailored to your business objectives.</p>
                </div>
            </div>
            <div class="card card-contact">
                <div class="card-content">
                    <h3>Get in Touch</h3>
                    <p class="mb-5">Interested in working with us or learning more about our services? Contact us today!</p>
                    <button class="contact-btn">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</body>

