<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">Register at GHM Consulting</h2>
    <div *ngIf="isSignupSuccessful" class="alert alert-success">
      Your registration is successful!
    </div>
    
    <form *ngIf="!isSignupSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <input type="text" placeholder="Username..." name="username" [(ngModel)]="form.username" required>
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email..." name="email" [(ngModel)]="form.email" required>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password..." name="password" [(ngModel)]="form.password" required minlength="6">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Confirm Password..." name="confirmPassword" [(ngModel)]="form.confirmPassword" required minlength="6">
      </div>
     
      <div class="alert alert-danger" *ngIf="!passwordMatch">Passwords do not match</div>
      <div class="alert alert-danger" *ngIf="isSignUpFailed">Signup failed: {{ errorMessage }}</div>
      <button type="submit" class="login-button rounded-pill">Register</button>
    </form>
    <div class="login-link">
      Already have an account? <a [routerLink]="['/login']">Log in</a>
    </div>
  </div>
 
</div>
